# Set a custom page to handle 404 errors
ErrorDocument 404 /404.html

# This will enable the Rewrite capabilities
RewriteEngine On

# This checks to make sure the connection is not already HTTPS
RewriteCond %{HTTPS} !=on

# This rule will redirect users from their original location, to the same location but using HTTPS.
# i.e.  http://www.example.com/foo/ to https://www.example.com/foo/
# The leading slash is made optional so that this will work either in httpd.conf
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R,L]
