<!--



                                     __    __   _______  __       __        ______  
                                    |  |  |  | |   ____||  |     |  |      /  __  \ 
                                    |  |__|  | |  |__   |  |     |  |     |  |  |  |
                                    |   __   | |   __|  |  |     |  |     |  |  |  |
                                    |  |  |  | |  |____ |  `----.|  `----.|  `--'  |
                                    |__|  |__| |_______||_______||_______| \______/ 

                                    
            If you are reading this, it is extremely likely that you will enjoy my Github profile more than this website.
            Head to https://github.com/Dovyski immediately. Care to follow me there? =)


                        .------------------------------------------------------------------------------.
                        |                             .mmMMMMMMMMMMMMMmm.                              |
                        |                         .mMMMMMMMMMMMMMMMMMMMMMMMm.                          |
                        |                      .mMMMMMMMMMMMMMMMMMMMMMMMMMMMMMm.                       |
                        |                    .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.                     |
                        |                  .MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM.                   |
                        |                 MMMMMMMM'  `"MMMMM"""""""MMMM""`  'MMMMMMMM                  |
                        |                MMMMMMMMM                           MMMMMMMMM                 |
                        |               MMMMMMMMMM:                         :MMMMMMMMMM                |
                        |              .MMMMMMMMMM                           MMMMMMMMMM.               |
                        |              MMMMMMMMM"                             "MMMMMMMMM               |
                        |              MMMMMMMMM                               MMMMMMMMM               |
                        |              MMMMMMMMM                               MMMMMMMMM               |
                        |              MMMMMMMMMM                             MMMMMMMMMM               |
                        |              `MMMMMMMMMM                           MMMMMMMMMM`               |
                        |               MMMMMMMMMMMM.                     .MMMMMMMMMMMM                |
                        |                MMMMMM  MMMMMMMMMM         MMMMMMMMMMMMMMMMMM                 |
                        |                 MMMMMM  'MMMMMMM           MMMMMMMMMMMMMMMM                  |
                        |                  `MMMMMM  "MMMMM           MMMMMMMMMMMMMM`                   |
                        |                    `MMMMMm                 MMMMMMMMMMMM`                     |
                        |                      `"MMMMMMMMM           MMMMMMMMM"`                       |
                        |                         `"MMMMMM           MMMMMM"`                          |
                        |                             `""M           M""`                              |
                        '------------------------------------------------------------------------------'
                    _   _     _             _                               __  ___                            _     _ 
             __ _  (_) | |_  | |_    _  _  | |__       __   ___   _ __     / / |   \   ___  __ __  _  _   ___ | |__ (_)
            / _` | | | |  _| | ' \  | || | | '_ \  _  / _| / _ \ | '  \   / /  | |) | / _ \ \ V / | || | (_-< | / / | |
            \__, | |_|  \__| |_||_|  \_,_| |_.__/ (_) \__| \___/ |_|_|_| /_/   |___/  \___/  \_/   \_, | /__/ |_\_\ |_|
            |___/                                                                                  |__/                

            
            PS: If you are looking for the source code of this website, it's open-source and available on Github:
            https://github.com/Dovyski/dovyski.github.io




-->