<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/img/fernando-bevilacqua.webp" title="Fernando Bevilacqua" class="profile" /></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.tagline }}</p>
      <div class="social-badges">
        <a href="https://github.com/Dovyski" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/github.svg" title="GitHub"></a>
        <a href="https://twitter.com/as3gamegears" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/twitter.svg" title="Twitter"></a>
        <a href="https://linkedin.com/in/fernandobevilacqua" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/linkedin.svg" title="LinkedIn"></a>
        <a href="https://last.fm/user/Dovyski" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/lastfm.svg" title="Last.fm"></a>
        <a href="https://steamcommunity.com/id/dovyski" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/steam.svg" title="Steam"></a>
        <a href="https://www.instagram.com/dovyski/" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/instagram.svg" title="Instagram" /></a>
        <a href="https://stackoverflow.com/users/29827/dovyski" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/stackoverflow.svg" title="StackOverflow" class="bw"></a>
        <a href="http://lattes.cnpq.br/7744662926303212" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/lattes.svg" title="CNPq Lattes CV"></a>
        <a href="https://scholar.google.se/citations?user=GOWYhzwAAAAJ&hl=en&oi=ao" target="_blank" rel="noreferrer"><img src="{{ site.baseurl }}public/img/google-scholar.svg" title="Google Scholar"></a>
      </div>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">About</a>
        <a class="sidebar-nav-item{% if page.title == 'Blog' %} active{% endif %}" href="{{ site.url }}/blog">Blog</a>
        <a class="sidebar-nav-item{% if page.title == 'Portfolio' %} active{% endif %}" href="{{ site.url }}/portfolio">Portfolio</a>
        <a class="sidebar-nav-item-sub{% if page.title == 'Games' %} active{% endif %}" href="{{ site.url }}/portfolio/games">Games</a>
        <a class="sidebar-nav-item-sub{% if page.title == 'Software' %} active{% endif %}" href="{{ site.url }}/portfolio/software">Software</a>
        <a class="sidebar-nav-item-sub{% if page.title == 'Misc' %} active{% endif %}" href="{{ site.url }}/portfolio/misc">Misc</a>
        <a class="sidebar-nav-item{% if page.title == 'Academic' %} active{% endif %}" href="{{ site.url }}/academic">Academic</a>
        <a class="sidebar-nav-item-sub{% if page.title == 'Research' %} active{% endif %}" href="{{ site.url }}/academic/research">Research</a>
        <a class="sidebar-nav-item-sub{% if page.title == 'Publications' %} active{% endif %}" href="{{ site.url }}/academic/publications">Publications</a>
    </nav>
    <div class="sidebar-contact">
        <ul>
            <li>
                <strong>E-mail</strong><br />
                <a href="mailto:dovyski@gmail.com">dovyski@gmail.com</a> <span>(personal)</span><br />
                <a href="mailto:fernando.bevilacqua@uffs.edu.br">fernando.bevilacqua@uffs.edu.br</a> <span>(work)</span>
            </li>
            <li>
                <strong>Phone <span>(work)</span></strong><br />
                +55 49 2049 6504<br />
            </li>
            <li>
                <strong>Address <span>(work)</span></strong><br />
                Room 222 (bloco professores)<br />
                <a href="https://www.uffs.edu.br" target="_blank" rel="noreferrer">Federal University of Fronteira Sul</a><br />
                Chapecó, SC, Brazil. 
                Zip code 89815-899
            </li>
        </ul>
    </div>
  </div>
</div>
