<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
      <a href="{{ site.baseurl }}"><img src="{{ site.baseurl }}public/img/fernando-bevilacqua.jpg?20160915" title="Fernando Bevilacqua" class="profile" /></a>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
      <div class="social-badges">
          <a href="http://github.com/Dovyski" target="_blank"><img src="{{ site.baseurl }}public/img/github.png" title="GitHub"></a>
          <a href="http://twitter.com/as3gamegears" target="_blank"><img src="{{ site.baseurl }}public/img/twitter.png" title="Twitter"></a>
          <a href="http://linkedin.com/br/fernandobevilacqua" target="_blank"><img src="{{ site.baseurl }}public/img/linkedin.png" title="LinkedIn"></a>
          <a href="http://last.fm/user/Dovyski" target="_blank"><img src="{{ site.baseurl }}public/img/lastfm.png" title="Last.fm"></a>
          <a href="http://steamcommunity.com/id/dovyski" target="_blank"><img src="{{ site.baseurl }}public/img/steam.png" title="Steam"></a>
          <a href="http://plus.google.com/+FernandoBevilacqua" target="_blank"><img src="{{ site.baseurl }}public/img/google.png" title="Google+"></a>
          <a href="http://stackoverflow.com/users/29827/dovyski" target="_blank"><img src="{{ site.baseurl }}public/img/stackoverflow.png" title="StackOverflow"></a>
      </div>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}
    </nav>
  </div>
</div>
