<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  {% if site.redirect %}
  <meta http-equiv="refresh" content="0; url={{ site.url }}{{ page.url }}" />
  {% endif %}

  <body>
    <div class="content container">
        <div class="page">
          <h1 class="page-title">No content</h1>
          <p class="lead">Sorry, but the website <em>dovyski.github.io</em> has no content. You will be redirected to <a href="{{ site.url }}{{ page.url }}">{{ site.url }}{{ page.url }}</a> where the content actually is.</p>
          <p class="lead">If you are not redirected in a few seconds, click <a href="{{ site.url }}{{ page.url }}">here</a>.</p>
        </div>
    </div>

    {% include ga.html %}
    {% include fontawesome.html %}
  </body>
</html>
